.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  gap: 20px;

  padding: 20px;
  padding-left: 40px;

  .header-icon {
    cursor: pointer;
    color: white;
  }

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
  }
}
