.paintings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 5%;

  height: calc(100% - 3rem - 40px - 20px); // 100% - header - gap
  margin-top: 20px;

  .paintings-table-scrollable-container {
    width: 100%;
    overflow: scroll;
    padding: 0;
    box-sizing: border-box;
  }

  .paintings-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;

    border: none;

    thead {
      position: sticky;
      top: 0;

      background-color: black;
      // fake a border using box shadow because border-collapse breaks it
      box-shadow: 0 1px 0 white;
    }

    th,
    td {
      padding: 10px;
      text-align: center;
    }

    td {
      border-top: 1px solid white;
    }
  }

  .preview {
    max-width: 100px;
    max-height: 100px;
  }

  .toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 6px;
    align-items: center;
  }

  .tag-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}
