.toggle {
  width: fit-content;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  .toggle-button {
    color: var(--primary);
    cursor: pointer;
  }

  .toggle-button.disabled {
    color: var(--error);
  }
}
