.toggle {
  width: fit-content;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  .toggle-button {
    color: #9eeaf9;
  }

  .toggle-button.disabled {
    color: #b72a2a;
  }
}
